*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #ffffff
}

@media screen and (max-width: 375px){
    h1 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: .8rem;
    }

}
@media screen and (min-width: 376px) and (max-width: 996px){
    h1 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: .9rem;
    }

}
@media screen and (min-width: 997px){
    h1 {
        font-size: 1.9rem;
    }
    
    p {
        font-size: 1.1rem;
    }
}

button, input{
    padding: 7px;
    outline: none;
    border: none;
}

button{
    cursor: pointer;
    background-color: rgba(51,51,51,0.5);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .2rem;
}

button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: all .3s;
}

a{
    text-decoration: none;
}

ul, li {
    list-style: none;
}

h1{
     font-weight: bolder;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background: rgb(230, 13, 13);
}